KERNEL_ARCH_CFLAGS:=
KERNEL_ARCH_CPPFLAGS:=
KERNEL_ARCH_LDFLAGS:=
KERNEL_ARCH_LIBS:=

KERNEL_ARCH_OBJS:=\
$(ARCHDIR)/descriptor_tables.o \
$(ARCHDIR)/boot.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/isr.o \
$(ARCHDIR)/timer.o \
$(ARCHDIR)/shell.o \
$(ARCHDIR)/kb.o \
$(ARCHDIR)/interrupt.o \
$(ARCHDIR)/page_util.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/ksys.o \
$(ARCHDIR)/fsys.o \
